@media (min-width: 320px) {
  .hidden {
    display: none !important;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  ul {
    list-style-type: none;
  }
  ul,
  ol {
    margin: 0;
    padding-left: 0;
  }
  img {
    display: block;
    max-width: 100%;
  }
  button {
    display: block;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  .logo-type {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    margin-top: 16px;
    padding-bottom: 16px;
  }
  .logotype_2 {
    color: #2e2f42;
  }
  .header-burger {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-one {
    max-width: 1440px;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../mobile-images/background-mobile-x1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 432px;
  }
  .zagolovok {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    text-align: center;
  }
  .buttonn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    margin-top: 72px;
    font-family: "Roboto", sans-serif;
  }
  .buttonn:hover {
    background-color: #404bbf;
  }
  .buttonn:focus {
    background-color: #404bbf;
  }
  .section-two {
    margin-top: 96px;
    margin-bottom: 96px;
  }
  .heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  .pharagraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .section-three {
    background: #f4f4fd;
    padding-bottom: 96px;
  }
  .team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 96px;
    margin-bottom: 72px;
  }
  .list-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
  }
  .names {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .paragraf-names {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }
  .workers {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
  }
  .social-links {
    width: 40px;
    height: 40px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .social-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
  }
  .svg-team {
    fill: #f4f4fd;
  }
  .workersstyle {
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 0 0 4px 4px;
  }
}
